{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block head %}
  <script src="{{ STATIC_URL }}js/articles.js"></script>
  <script src="{{STATIC_URL}}ckeditor/ckeditor/ckeditor.js"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'articles' %}">{% trans 'Articles' %}</a></li>
    <li class="active">{% trans 'Write Article' %}</li>
  </ol>
  <form action="{% url 'write' %}" method="post" role="form">
    {% csrf_token %}
    {{ form.status }}
    {% for field in form.visible_fields %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <span class="help-block">{{ field.help_text }}</span>
        {% endif %}
        {% for error in field.errors %}
          <label class="control-label">{{ error }}</label>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="form-group">
      <button type="button" class="btn btn-primary publish">Publier</button>
      <button type="button" class="btn btn-default draft">Enregistrer en tant que brouillon</button>
      <a href="{% url 'articles' %}" class="btn btn-default">Annuler</a>
    </div>
  </form>

{% endblock main %}
