{% extends 'base.html' %}
{% load i18n %}

{% block title %}Questions{% endblock %}

{% block head %}
  <link href="{{ STATIC_URL }}css/questions.css" rel="stylesheet">
  <script src="{{ STATIC_URL }}js/questions.js"></script>
{% endblock head %}

{% block main %}
  <div class="page-header">
    <a href="{% url 'ask' %}" class="btn btn-primary pull-right">
    <span class="glyphicon glyphicon-bullhorn"></span>
    <span> {% trans 'Ask Question' %} </span>
    </a>
    <h1>{% trans "Questions" %}</h1>
  </div>
  <div class="questions">
    <ul class="nav nav-tabs" style="margin-bottom: 1.4em">
      <li{% if active == 'unanswered' %} class="active"{% endif %}><a href="{% url 'unanswered' %}">{% trans "Unanswered" %}</a></li>
      <li{% if active == 'answered' %} class="active"{% endif %}><a href="{% url 'answered' %}">{% trans "Answered" %}</a></li>
      <li{% if active == 'all' %} class="active"{% endif %}><a href="{% url 'all' %}">{% trans "All Questions" %}</a></li>
    </ul>
    {% include page_template %}

		{% block js %}
		    
		    <script src="http://code.jquery.com/jquery-latest.js"></script>
		    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
		    <script>$.endlessPaginate({paginateOnScroll: true});</script>
		{% endblock %}
  </div>
{% endblock main %}